
.menu-wrap {
	position: fixed;
	z-index: -1;
	background: #ebedf4;
	-webkit-transition: width 0.3s, height 0.3s;
	transition: width 0.3s, height 0.3s;
	width: 0;
	height: 0;
	font-size: 1.5em;
	top: 5%;
	left: 1.1em;
	-webkit-transform-origin: 0% 100%;
	transform-origin: 0% 100%;
}
html, 
body, 
.container, 
.content-wrap {
	overflow: hidden;
	width: 100%;
	height: 100%;
}
.nav_element{
	
}
.container {
	background: #373a47;
}

.content-wrap {
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.content {
	position: relative;
	background: #b4bad2;
}
.menu-button {
	position: fixed;
	top: 2%;
	z-index: 1000;
	margin: 1em;
	padding: 0;
	width: 2.5em;
	height: 2.25em;
	border: none;
	font-size: 1.5em;
	color: #373a47;
	background: transparent;
	outline: none;
}

.menu-button span {
	display: none;
}

.menu-button:hover {
	opacity: 0.6;
}
.content::before {
	position: absolute;
	top: 0;
	left: 0;
	z-index: 10;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.3);
	content: '';
	opacity: 0;
	-webkit-transition: opacity 0.3s, -webkit-transform 0s 0.3s;
	transition: opacity 0.3s, transform 0s 0.3s;
	-webkit-transform: translate3d(100%,0,0);
	transform: translate3d(100%,0,0);
}

@media screen and (max-width: 50em) {
	.menu-button {
		margin: 0.25em;
	}
	.menu-wrap {
		bottom: 0.25em;
		left: 0.25em;
	}
}
.show-menu .menu-wrap {
	width: 280px;
	height: 340px;
	-webkit-animation:  0.8s linear forwards;
	animation: 0.8s linear forwards;
}
.show-menu .menu {
	opacity: 1;
	-webkit-transition: opacity 0.3s 0.3s;
	transition: opacity 0.3s 0.3s;
}

.content_wrap{
	width: 100%;
	height: 100vh;
}
.menu {
	height: 100%;
	opacity: 0;
	font-size: 0.65em;
	color: #64697d;
	text-align: right;
}

div#googlemap{
	height: 100%;
	width: 100%;
	display: inline-block;
}

body{
	height: 100%;
	width: 100%;
	margin: 0;
}


#busroutes > fieldset > label {
	font-size: 0.7em;
}

#busroutes{
    display: inline-block;
    vertical-align: top;
}

div#legend{
	position: fixed;
	top:2%;
	right: 2%;
	width: 15%;
	height: 15%;
	z-index: 5;
	background-color: white;
}
div#legend h4{
	display: inline-block;
	width: 100%;
	text-align: center;
}
div.accordion {
	width: 100%;
	border-bottom: 1px solid silver;
	cursor: pointer;
	position: relative;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
div.accordion:after{
	content: '';
	height: 0;
	position: absolute;
	width: 0;
	border: 6px solid transparent;
	border-top-color: #000;
	top:50%;
	right: 10px;
	margin-top: -3px;
}

div.accordion.is-active:after{
	border-bottom-color:#000;
	border-top-color: #fff;
	margin-top: -9px;
}
.dropdown-list {
	list-style: none;
	margin: 0;
	padding: 0;
	top:100%;
	border: inherit;
	border-top: none;
	left:-1px;
	right:-1px;
	opacity: 0;
	-webkit-transition: opacity 0.4s ease-in-out;
    -moz-transition: opacity 0.4s ease-in-out;
    -o-transition: opacity 0.4s ease-in-out;
    -ms-transition: opacity 0.4s ease-in-out;
    transition: opacity 0.4s ease-in-out;
    pointer-events: none;
}	
.is-active .dropdown-list {
	opacity: 1;
	pointer-events: auto;
}

.dropdown-list li label {
	display: block;
	border-bottom: 1px solid silver;
	padding: 10px;
	-webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    -ms-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}

.dropdown-list li label:hover{
	background-color: #c41230;
	color: white;
}


